/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;500&display=swap');

/* media queries */
/* mobile */
@media (min-width: 300px) {
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  body {
    background-color: #fff;
    color: #000;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    overflow-y: scroll;
  }

  p {
    font-weight: 200;
    line-height: 1.5;
  }

  #bottom-text {
    text-align: right;
  }

  .container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    /* grid-template-rows: auto 1fr auto;   */
    align-items: center;
  }

  /* navbar */
  .nav-grid-sm {
    overflow: hidden;
    position: absolute;
    width: calc(100% - 20px);
    display: grid;
    grid-auto-flow: column;
    /* justify-items: right; */
    padding: 10px
    /* background: yellow; */
  }

  .nav-grid-la {
    display: none;
    visibility: hidden;
  }

  .icon img{
    stroke: #000;
    width: 30px;
    height: auto;
  }

  #logo img{
    stroke: #000;
    width: 200px;
    height: auto;
    display: flex;
    display: grid;
    justify-content: start;
    align-content: center;
  }

  .icon {
    display: grid;
    justify-content: right;
    align-content: center;
    padding: 10px;
  }
  
  /* flyout sidenav from right */
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
  }

  .sidenav a {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    color: #000;
    display: block;
    transition: 0.3s;
    font-weight: 200;
  }

  .sidenav a:hover {
    color: #777;
  }

  .sidenav .closebtn {
    position: absolute;
    top: -5px;
    right: 0;
    font-size: 60px;
    font-weight: 100;
    padding-top: 0px;
    margin-right: 20.5px;
  }

  /* center titles */
  .titles-grid {
    padding: 0 16px;
    line-height: 1.5;
    display: grid;
    /* margin-top: 25vh; */
    /* align-items: center; */
    justify-items: center;
    /* background: red; */
    font-size: 1.5rem;
  }

  .titles {
    max-width: 800px;
  }

  .titles a {
    letter-spacing: 0.2rem;
    word-wrap: break-word;
  }

  span {
    width: 100%;
    white-space: normal;
    word-break: break-all;
    /* hyphens: auto; */
  }

  /* about page centering */
  .about {
    padding: 0 16px;
    line-height: 1.5;
    display: grid;
    margin-top: 25vh;
    /* align-items: center; */
    justify-items: center;
    /* background: red; */
    font-size: 1.5rem;
  }

  #about {
    max-width: 800px;
  }

  /* get rid of text decoration */
  a {
    word-wrap: break-word;
  }

  a:link {
    text-decoration: none;
    color:black;
  }

  .titles a:hover {
    color: rgba(53, 97, 222);
    font-style: italic;
  }

  a:visited {
    text-decoration: none;
    color:black;
  }

  .titles a.closed:hover {
    color: rgb(235, 60, 32);
    font-style: italic;
  }

  /* project content styling */
  .project-content {
    padding: 10px 10px;
    padding-top: 50px;
    padding-bottom: 30px;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    justify-items: right;
  }

  .project-content p {
    padding: 0 5px;
  }

  .project-content img {
    margin-bottom: 10px;
    width: 100%;
  }

  .project-content iframe {
    width: 100%;
    height: 56.25vw;
    padding-bottom: 5px;

  }

  #first {
    margin-top: 20px;
  }

  /* for projects with credit lines at the bottom */
  #credits {
    text-align: right;
    font-size: 0.85rem;
  }
}

@media (min-width: 768px) {
  .nav-grid-sm {
    display: none;
    visibility: hidden;
  }

  .nav-grid-la {
    visibility: visible;
    overflow: hidden;
    width: calc(100% - 20px);
    position: absolute;
    display: grid;
    grid-auto-flow: column;
    padding: 10px;
  }

  /* #logo img{
    stroke: #000;
    width: 200px;
    height: auto;
    display: flex;
    display: grid;
    justify-content: start;
    align-content: center;
  } */

  #links {
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 1.75em;
    padding-right: 20px;
    font-weight: 200;
    font-size: 1.5rem;
    color: #000;
    transition: 0.3s;
    font-weight: 200;
  }

  #links a:hover {
    color: #777;
  }
  
  .titles-grid {
    padding: 0 30px;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    display: grid;
    /* margin-top: 220px; */
    /* align-items: center;
    justify-items: center; */
    /* background: red; */
    font-size: 2rem;
  }

  .project-content {
    padding-bottom: 100px;
  }

  .project-content iframe {
    width: 100%;
    height: calc(800px * 0.5625);
    margin-bottom: 100px;
  }

  .project-content p {
    width: 66%;
  }

  .project-content img {
    margin-bottom: 100px;
    width: 100%;
  }

  #first {
    margin-top: 100px;
  }
} 

/* tablet & small screens */
@media (min-width : 1024px) {

}

/* desktop & large screens */
@media  (min-width : 1440x) {


}

